<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/stylesheets/style.css">
    <script src="../../assets/javascripts/jquery-3.2.1.min.js"></script>
    <script src="../../assets/javascripts/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "style.css" %>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400" rel="stylesheet">
  </head>


  <style type="text/css">

  .header
  {
   margin: 0;
   height: 940px;
   background-image:url("timonblue.jpg");
   background-repeat: no-repeat;
   box-shadow: 100px 10px 100px rgba(200,200,200,0.6);
   background-size: cover;
   font-family: 'Avenir-light', sans-serif;
  }
  </style>
  <body>

    <!-- HEADER -->

      <div class="header row">

        <!-- SIGN UP + SIGN IN-->
        <div class="hor f-end-ver f-center-hor col-md-12 col-sm-12" >
          <%= link_to "Sign in", '#', class: "btn btn-lg"%>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUpModal"> Sign up</button>
        </div>
        <!-- END OF SIGN UP + SIGN IN -->

        <!-- TITLE -->
        <div class="ver f-end-ver col-lg-12 col-md-12 col-sm-12">
          <div class=" header-text align-bottom ver">
            <h1 class="header-title">
              h a k u n a m a t a t a
            </h1>
            <h5 class="header-subtitle"> Report. Reward. Repeat.</h5>
          </div>
        </div>
        <!-- END OF TITLE -->

        <!-- LAPTOP IMG -->
        <div class="hor f-center-ver f-end-hor col-lg-12 col-md-12 ">
          <img src=" Profile laptop.png" class="laptop"/>
        </div>
        <!-- END OF IMG -->
    </div>
  <!-- END OF HEADER -->

  <!-- SCREENS -->

    <!-- SCREEN 1 -->
    <div class="row">
      <div class="col-md-6 col-sm-12 ver">
        <div class="description">
          <div class="screen-title">
            In-app integration
          </div>
          <div class="screen-text">
            Apps that purchased hakunamatata will have it appear in their settings menu.
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 screen-image-right">
        <img class="small" src="Screen1.png" class="laptop"/>
      </div>
    </div>
    <hr />
    <!-- END OF SCREEN 1 -->

    <!-- SCREEN 2 -->
    <div class="row">
      <div class="col-md-offset-2 col-md-4 col-sm-12 screen-image-left">
        <img class="small laptop" src="Screen2.png"/>
      </div>
      <div class="col-md-6 col-sm-12 ver">
        <div class="description">
          <div class="screen-title">
            Sign in directly from the app
          </div>
          <div class="screen-text">
             Gather all your points in one place by connecting all your apps with your account.

          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- END OF SCREEN 2 -->

    <!-- SCREEN 3 -->
    <div class="row">
      <div class="col-md-6 col-sm-12 ver">
        <div class="description">
          <div class="screen-title">
            EARN POINTS!
          </div>
          <div class="screen-text">
            Everytime you report a bug you earn a point, everytime your bug is fixed you earn 10 points!
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 screen-image-right">
        <img class="small" src="Screen3.png" class="laptop"style=""/>
      </div>
    </div>
    <hr />
    <!-- END OF SCREEN 3 -->

  <!-- END OF SCREENS -->


  <!-- BADGES -->

  <div class="row hor f-center-ver">
    <!-- TITLE -->
    <div class="col-md-12">
      <div class="badge-title">
        BADGES
      </div>
      <div class="badge-subtitle">
        Collect more points to unlock more privileges.
      </div>
    </div>
    <!-- END OF TITLE -->

    <!-- BADGE 1 -->
    <div class="col-md-2 ver">
      <img class="small" src="5 shebsheb.png" class="laptop"/>
      <div class="badge-info">
        <div class="badge-name">
          Slipper
        </div>
        <div class="badge-points">
          0 - 50
        </div>
        <div class="badge-description">
          + Unlocked few privileges listed by apps.
        </div>
      </div>
    </div>
    <!-- END OF BADGE 1 -->

    <!-- BADGE 2 -->
    <div class="col-md-2 ver">
      <img class="small" src="4 madrab.png" class="laptop"style=""/>
      <div class="badge-info">
        <div class="badge-name">
          Swatter
        </div>
        <div class="badge-points">
          50 - 200
        </div>
        <div class="badge-description">
          + Unlocked more app privileges. </br>
          + Can view all your previous reports in all integrated apps. </br>
          + App store or Play store credit!
        </div>
      </div>
    </div>
    <!-- END OF BADGE 2 -->

    <!-- BADGE 3 -->
    <div class="col-md-2 ver">
      <img class="small" src="3 Bronze.png" class="laptop"style=""/>
      <div class="badge-info">
        <div class="badge-name">
          Spray
        </div>
        <div class="badge-points">
          200 - 500
        </div>
        <div class="badge-description">
          + Unlocked more app privileges. </br>
          + Can track the report along the way, from app to developers to fixed! </br>
          + App store or Play store credit!
        </div>
      </div>
    </div>
    <!-- END OF BADGE 3 -->

    <!-- BADGE 4 -->
    <div class="col-md-2 ver">
      <img class="small" src="2 Silver.png" class="laptop"style=""/>
      <div class="badge-info">
        <div class="badge-name">
          Pumba
        </div>
        <div class="badge-points">
          500 - 1000
        </div>
        <div class="badge-description">
          + Unlocked more app privileges. </br>
          + Silver certification. </br>
          + Developers can directly contact you for beta-testing. </br>
          + App store or Play store credit!
        </div>
      </div>
    </div>
    <!-- END OF BADGE 4 -->

    <!-- BADGE 5 -->
    <div class="col-md-2 ver">
      <img class="small" src="1 gold.png" class="laptop"style=""/>
      <div class="badge-info">
        <div class="badge-name">
          Timon
        </div>
        <div class="badge-points">
          1000
        </div>
        <div class="badge-description">
          + Unlocked all app privilages!</br>
          + Golden certification!</br>
          + Apps gives you credit for fixing the bug by writing
          your username beside the fixed bug in their next app update!</br>
          + App store or Play store credit! </br>
        </div>
      </div>
    </div>
    <!-- END OF BADGE 5 -->

  </div>
  <!-- END OF BADGES -->

  <!-- FOOTER -->
  <div class="footer row hor f-center-ver">
    <div class="col-md-1">
      <%= link_to "Home", '#', class: "btn btn-lg"%>
    </div>
    <div class="col-md-1">
      <%= link_to "Contact", '#', class: "btn btn-lg"%>
    </div>
    <div class="col-md-1">
      <%= link_to "Help", '#', class: "btn btn-lg"%>
    </div>
    <div class="col-md-1">
      <%= link_to "Developers", '#', class: "btn btn-lg"%>
    </div>
  </div>
  <!-- END OF FOOTER -->

  </body>

</html>
